<!-- scheduling/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Vet Masters{% endblock %}</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>